/* all style */

:root {
    --primary-text-color:  #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-color-hero: #2F303A;
    --color-footer-link: rgba(255, 255, 255, 0.6);
    --portfolio-btn-color: #F5F4FA;
    --clients-link-color: #AFB1B8;
}

.link,
.item-linki,
.item-link,
.portfolio-site {
 list-style: none;
 text-decoration: none;
 font-style: normal;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

p, h1, h2, h3, h4 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  .container {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
      margin: 0 auto;
  }

/* -----------------------HEADER------------------- */
.header {
    background-color: var(--primary-white-color);
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
}
.header-logo,
.footer-logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logotype {
    color: var(--title-text-color);
}

.header-item a,
.auth-mail a,
.auth-tel a {
    
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

.studia {
    position: relative;
}


a.studia.current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

/* ---------site nav--------------- */

.site-nav, .auth-nav {
    position: relative;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    
}

.auth-nav {
    margin-left: auto;
}

.auth-mail {
    margin-right: 50px;
}

.site-nav .link {
    color: var(--title-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.site-nav .link.current {
    color: var(--accent-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.auth-nav .link {
    color: var(--primary-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.site-nav .studia:hover, 
.site-nav .studia:focus,
.auth-nav .link:hover,
.auth-nav .link:focus,
.item-linki:hover,
.item-linki:focus,
.item-link:hover,
.item-link:focus {
    color: var(--accent-color);
}
.auth-nav .email,
.auth-nav .tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding-top: 32px;
    padding-bottom: 32px;
}

.icon-email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--primary-text-color);
    align-self: baseline;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--primary-text-color);
    align-self: baseline;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover .icon-email,
.auth-nav .link:focus .icon-email,
.auth-nav .link:hover .icon-phone,
.auth-nav .link:focus .icon-phone{
    fill: var(--accent-color);
}

/* -------------------------main--------------------------------- */
.hero {
    background-color: var(--background-color-hero);
    padding-top: 200px;
    padding-bottom: 200px;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url('../images/Img-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    border-color: transparent;
}

.header {
    position: relative;
}

/* ------------------------MODAL Window-------------------- */
.backdrop {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    padding: 222px 536px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    padding: 40px;
    

    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-button {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon {
    fill: var(--accent-color);
}

.close-icon {
    fill: var(--title-text-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.form-field-list {
    display: block;
    margin: 0;
    padding: 0;
}
.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input {
    margin-top: 4px;
    padding: 12px 42px ;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.form-field label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.field-phone-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 30px;
    left: 15px;
    background-size: contain;
    box-sizing: border-box;
}

.form-field textarea::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

textarea {
    margin-top: 4px; 
    padding: 12px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.form-fields {
    display: inline-block;
    margin-bottom: 20px;
}

.form-field:hover .input-name,
.form-field:focus-within .input-name {
    border-color: var(--accent-color);
}

.form-icon {
    background-size: contain;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover .form-icon,
.form-field:focus-within .form-icon {
    fill: var(--accent-color);
}

.form-fields-policy {
    display: flex;
    align-items: center;
    line-height: 1.71;
}

.form-fields-link {
 color: var(--accent-color);
}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    
}

.checkbox:checked + .agree-lable {
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
    border: hidden;
}

.agree-lable {
    display: inline-block;
    margin-right: 7px;
    width: 15px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 4px;
}

.form-button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

    font-weight: bold;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name {
    display: block;
}
.form-button:hover,
.form-button:focus {
    background-color: #188CE8;
}

/* -------------------------------------ABOUT-------------------- */

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-list .list {
    color: var(--title-text-color);
}

.feature-list {
    display: flex;
}

.feature-list-item {
    width: 270px;
}

.feature-list-item:not(:last-child) {
    margin-right: 30px;
}

.about-icon {
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:  #F5F4FA;
    margin-bottom: 30px;
}

.about-iconsvg {
    display: flex;
    justify-content: center;
}

.feature-text {
    line-height: 1.71;
    max-width: 270px;
}

.work-list,
.team-list {
    display: flex;
    margin-left: -30px;
    margin-bottom: -30px;
}

.work-item {
    position: relative;
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.working {
    padding-top: 0;
    padding-bottom: 94px;
}

.work-thumb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
}

.work-h {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--portfolio-btn-color);
}

.item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-face {
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Заголовки h2 */
.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
    color: var(--title-text-color);
}

/* Заголовки h3 */
.section-title-item {
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--title-text-color);
}

.list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
    color: var(--title-text-color);
}

.team-p {
    margin-bottom: 16px;
}

.team-item {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-text-color);
}

.team-people {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.team-people-link {
    display: flex;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: var(--clients-link-color); 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-people-link:hover,
.team-people-link:focus {
    background-color: var(--accent-color);
}

.team-people-link:hover .team-people-icon,
.team-people-link:focus .team-people-icon {
    fill: var(--primary-white-color);
}

.team-people-icon {
    display: flex;
    fill: var(--clients-link-color);
}

/* --------------clients-------------- */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-white-color);
}

.clients-text {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-link {
    display: flex;
    border: 1px solid var(--clients-link-color);
    box-sizing: border-box;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients {
    fill: var(--clients-link-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
}

.clients-link:hover .icon-clients,
.clients-link:focus .icon-clients {
    fill: var(--accent-color);
} 

/* -----------------------------footer-------------------------- */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color-hero);
}

.footer-all {
    display: flex;
    align-items: baseline;
}

.footer-address {
    margin-top: 20px;
}

.item-linki {
    margin-bottom: 9px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
    margin-bottom: 9px;
}

.footer-logos,
.item-linki {
    color: var(--primary-white-color);
}

.item-link {
    color: var(--color-footer-link);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join {
    margin-left: auto;
}

.footer-join-text {  
    font-size: 14px; 
    font-weight: bold;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 20px;
}

.join-list {
    display: flex;
    align-items: center;
    width: 206px;
    height: 44px;
}

.footer-join-link {
    display: flex;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    padding: 0px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-join-link:hover,
.footer-join-link:focus {
    background-color: var(--accent-color);
}

.footer-join-icon {
    height: 20px;
    width: 20px;
    fill: var(--primary-white-color);
}

.input-join-icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
}

.input-list {
    display: flex;
    align-items: center;

}
.input-sign {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2F303A;
    color: var(--primary-white-color);
    font-size: 16px;
}

.input-sign::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* -------------------Стили для Portfolio------------------- */

.portfolio-button {
    display: inline-block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    cursor: pointer;
    background-color: var(--portfolio-btn-color);
    color: var(--title-text-color);
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    min-width: 70px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portsection-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--primary-white-color);
}

.portlist {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
}

.portfolio-list {
    position: relative;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
}

.portfolio-list-heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--primary-text-color);
}

.card-content {
    position: relative;
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.section-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-site {
    display: block; 
}

.portfolio-list > .portfolio-site:hover,
.portfolio-list > .portfolio-site:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list > .portfolio-site:hover .sublist-text,
.portfolio-list > .portfolio-site:focus .sublist-text{
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
}

.potfolio-thumb {
    position: relative;
    overflow: hidden;
}

.sublist-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    margin: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--primary-white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}